.parent {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
    }
    
    app-toolbar { 
        grid-area: 1 / 1 / 2 / 6;
        background-color: #F8F9FA;
        padding: 30px;
    }
    
    app-navbar { 
        grid-area: 2 / 1 / 6 / 2; 
        padding: 30px;
        display: flex;
        align-items: center;
    }
    
    app-listado-alumnos { 
        grid-area: 2 / 2 / 6 / 6;
    }