<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/pelotaOk.jpg" alt="ball image">
      <div class="card-body">
        <h5 class="card-title">Pelota</h5>
        <p class="card-text"> Medidas: Numero 5.
            <br>
            Colores disponibles: Plata
            <br>
            Material: Cuero sintetico, cosida a mano, con cámara de caucho butilico y valvula de silicona.
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/sogaokok.jpg" alt="rope image">
        <div class="card-body">
        <h5 class="card-title">Soga</h5>
        <p class="card-text">Soga con mangos de aluminio y cable de metal recubierto por PP, ideal para crossfit, entrenamiento, boxeo y doble salto. 
            <br>
            Contiene dos sogas de dos colores diferentes. 
         </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/mancuOK.jpg" alt="dumbell image">
      <div class="card-body">
        <h5 class="card-title">Mancuerna</h5>
        <p class="card-text">Mancuerna de 6kg.
            Sellado PVC
<br>
Facil limpieza
<br>
Antideslizante
<br>
No absorbe humedad
<br>
Brillante

        </p>
      </div>
    </div>
  </div>